{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mail</h1>
   <table class='striped'>
        <tbody>
            
        <p>Mr/Mme {{ rendezvous.unePersonne.nom }}{{ " " }}{{ rendezvous.unePersonne.prenom}},
           </br>
           </br>Suite au rendez-vous du  {{ rendezvous.date|date('Y-m-d') }} à {{ rendezvous.date|date('H:i:s') }},
           </br>Pourriez-vous me renvoyer les documents suivant modifiés : </br>
        
        {% if rendezvous.cv == false %}
            - Votre CV.</br> 
        {%endif%}
        
        {% if rendezvous.lettremotivation == false %}
            - Votre lettre de motivation.</br> 
        {%endif%}

        </br>Cordialement,
        </br>Julian Courbez</p>

        


        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('rendezvous_index') }}" class="waves-effect waves-light btn indigo darken-4">Revenir à la liste</a></td>
        </li>
    </ul>
{% endblock %}
