{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des personnes</h1>
    <ul>
        <li>
            <a href="{{ path('personne_new') }}" class="waves-effect waves-light btn green"><i class="material-icons left">add</i>Créer une nouvelle personne</a>
    </ul>

    <table class='striped'>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Mail</th>
                <th>Tel</th>
                <th>Statut</th>
                <th>Actions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for personne in personnes %}
            <tr>
                <td>{{ personne.nom }}</td>
                <td>{{ personne.prenom }}</td>
                <td>{{ personne.mail }}</td>
                <td>0{{ personne.tel }}</td>
                <td>{{ personne.statut }}</td>
                <td><a href="{{ path('personne_edit', { 'id': personne.id }) }}" class="waves-effect waves-light btn orange">Modifier</a></td>
                <td><a href="{{ path('personne_show', { 'id': personne.id }) }}" class="waves-effect waves-light btn green">Détails</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
