{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des personnes</h1>
    <ul>
        <li>
            <a href="{{ path('personne_new') }}">Créer une nouvelle personne</a>
        </li>
    </ul>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Mail</th>
                <th>Tel</th>
                <th>Date naissance</th>
                <th>Excel</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personne in personnes %}
            <tr>
                <td>{{ personne.nom }}</td>
                <td>{{ personne.prenom }}</td>
                <td>{{ personne.mail }}</td>
                <td>{{ personne.tel }}</td>
                <td>{% if personne.dateNais %}{{ personne.dateNais|date('Y-m-d') }}{% endif %}</td>
                <td>{{ personne.excel }}</td>
                <td>{{ personne.statut }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('personne_show', { 'id': personne.id }) }}">Détails</a>
                        </li>
                        <li>
                            <a href="{{ path('personne_edit', { 'id': personne.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
