{% extends 'base.html.twig' %}

{% block body %}
    <h1>Détails du problème</h1>

    <table class='striped'>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ probleme.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if probleme.date %}{{ probleme.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Motif</th>
                <td>{{ probleme.motif }}</td>
            </tr>
            <tr>
                <th>Echange</th>
                <td>{{ probleme.echange }}</td>
            </tr>
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('probleme_edit', { 'id': probleme.id }) }}" class="waves-effect waves-light btn orange"><i class="material-icons right">replay</i>Modifier</a>
        </li>
        </br>
        <li>
            {{ form_start(delete_form) }}
                <button class="btn waves-effect waves-light red darken-2" type="submit" name="Supprimer">Supprimer
                    <i class="material-icons right">delete</i>
                </button>
            {{ form_end(delete_form) }}
        </li>
        </br>
        <li>
            <a href="{{ path('probleme_index') }}" class="waves-effect waves-light btn indigo darken-4">Revenir à la liste</a></td>
        </li>
    </ul>
{% endblock %}


