{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des entreprises</h1>
    <ul>
        <li>
            <a href="{{ path('entreprise_new') }}" class="waves-effect waves-light btn green"><i class="material-icons left">add</i>Créer une nouvelle entreprise</a>
    </ul>
    <table class='striped'>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Ville</th>
                <th>Adresse</th>
                <th>Cp</th>
                <th>Actions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entreprise in entreprises %}
            <tr>
                <td>{{ entreprise.nom }}</td>
                <td>{{ entreprise.ville }}</td>
                <td>{{ entreprise.adresse }}</td>
                <td>{{ entreprise.cp }}</td>
                <td><a href="{{ path('entreprise_edit', { 'id': entreprise.id }) }}" class="waves-effect waves-light btn orange">Modifier</a></td>
                <td><a href="{{ path('entreprise_show', { 'id': entreprise.id }) }}" class="waves-effect waves-light btn green">Détails</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
