{% extends 'base.html.twig' %}

{% block body %}
    <h1>Entreprise</h1>

    <table class='striped'>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entreprise.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entreprise.nom }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ entreprise.ville }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ entreprise.adresse }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ entreprise.cp }}</td>
            </tr>
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('entreprise_edit', { 'id': entreprise.id }) }}" class="waves-effect waves-light btn orange"><i class="material-icons right">replay</i>Modifier</a>
        </li>
        </br>
        <li>
            {{ form_start(delete_form) }}
                <button class="btn waves-effect waves-light red darken-2" type="submit" name="Supprimer">Supprimer
                    <i class="material-icons right">delete</i>
                </button>
            {{ form_end(delete_form) }}
        </li>
        </br>
        <li>
            <a href="{{ path('entreprise_index') }}" class="waves-effect waves-light btn indigo darken-4">Revenir à la liste</a></td>
        </li>
    </ul>
{% endblock %}
