{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rdv</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rdv.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if rdv.date %}{{ rdv.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Heuredeb</th>
                <td>{% if rdv.heureDeb %}{{ rdv.heureDeb|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Cv</th>
                <td>{% if rdv.cv %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Lm</th>
                <td>{% if rdv.lm %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Matgene</th>
                <td>{{ rdv.matGene }}</td>
            </tr>
            <tr>
                <th>Mattechn</th>
                <td>{{ rdv.matTechn }}</td>
            </tr>
            <tr>
                <th>Assiduite</th>
                <td>{{ rdv.assiduite }}</td>
            </tr>
            <tr>
                <th>Ouvesprit</th>
                <td>{{ rdv.ouvEsprit }}</td>
            </tr>
            <tr>
                <th>Relconfiance</th>
                <td>{{ rdv.relConfiance }}</td>
            </tr>
            <tr>
                <th>Conform</th>
                <td>{{ rdv.conForm }}</td>
            </tr>
            <tr>
                <th>Conapprent</th>
                <td>{{ rdv.conApprent }}</td>
            </tr>
            <tr>
                <th>Degresmotiv</th>
                <td>{{ rdv.degresMotiv }}</td>
            </tr>
            <tr>
                <th>Rechentrep</th>
                <td>{{ rdv.rechEntrep }}</td>
            </tr>
            <tr>
                <th>Predispotechn</th>
                <td>{{ rdv.predispoTechn }}</td>
            </tr>
            <tr>
                <th>Observscolaire</th>
                <td>{{ rdv.observScolaire }}</td>
            </tr>
            <tr>
                <th>Observentretien</th>
                <td>{{ rdv.observEntretien }}</td>
            </tr>
            <tr>
                <th>Conslusion</th>
                <td>{{ rdv.conslusion }}</td>
            </tr>
            <tr>
                <th>Avis</th>
                <td>{{ rdv.avis }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rdv_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('rdv_edit', { 'id': rdv.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
